<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- atribut 'package' tidak lagi diperlukan di sini, ia ditetapkan dalam fail build.gradle -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZakatCalcApp">

        <!-- ===== PERUBAHAN DI SINI ===== -->
        <!-- Menambah label dan parent activity untuk AboutActivity -->
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <!-- =============================== -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
